body {
    background-image: linear-gradient(40deg, #2d9099 -10%, #072A46 80%);
}

.caja1 {
    width: 450px;
    height: 300px;
    color: black;
    box-shadow: 0 0 10px rgb(211, 219, 218);
}

#titulo {
    font-size: 50px;
    margin-bottom: -5px;
    text-align: center;
    color: white;
}

.contenido hr {
    width: 75%;
    margin: auto;
    background: white;
}

#seleccionar {
    font-size: 23px;
    margin-top: 8px;
    margin-left: 28px;
    color: white;
    margin-bottom: 10px;
}

#select {
    margin-left: 28px;
    height: 40px;
}

#inputs {
    margin-left: 28px;
}

#boton {
    margin-top: 15px;
    margin-left: 150px;
}