* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #001830, #1C749B);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 25px;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 70%;
    width: 100%;
    position: relative;
}


/* transform: scale(0.2);*/

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 10px -5px 31px -12px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 10px -5px 31px -12px rgba(0, 0, 0, 0.93);
    box-shadow: 10px -5px 31px -12px rgba(0, 0, 0, 0.93);
}

.headLine {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 2;
}

.headLine h1 {
    font-size: 55px;
}

.headLine button {
    font-size: 20px;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.4;
    top: 0;
}

.tapa {
    position: absolute;
    margin-left: 40%;
    margin-top: 280px;
}

#pro {
    margin-top: 15px;
    margin-left: 46%;
    position: absolute;
    width: 210px;
    height: 280px;
}

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: -8px
}

::-webkit-scrollbar-thumb {
    background: #257496;
    border-radius: -8px
}

.caja2 {
    margin-left: 38%;
    margin-top: 10px;
    width: 600px;
    height: 680px;
    position: absolute;
}

.titulo {
    width: 600px;
    height: 70px;
    font-size: 33px;
    text-align: center;
    color: white;
    border: solid white 2px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

.datos {
    margin-left: 30px;
    width: 600px;
    height: 600px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #257496 white;
    color: white;
}

#botones {
    margin-left: 190px;
    margin-top: 8px;
}

#checkbox1 {
    margin-left: 50px;
    margin-top: 7px;
}

.cajainputs {
    margin-top: 10px;
}

.errores {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 550px;
    height: 80px;
    border: solid #FFC107 1px;
    box-shadow: 0 0 25px rgb(220, 104, 104);
    background-color: rgba(220, 104, 104, 0.9);
    border-radius: 15px 15px 15px 15px;
    color: white;
}

.errores p {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 17px;
}

.inicio {
    color: white;
    display: flex;
    font-size: 25px;
    margin-bottom: -10px;
    margin-top: 10px;
}

#p2 {
    margin-left: 60px;
    margin-right: 160px;
}